body{
  background: #e9ebee;
  font-family: Dayrom,sans-serif;
  font-size: 16px;
}
header{
  padding: 5px 0;
  background: #548216;
  border-bottom: 3px solid #000;
}
header .logo a{
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
header .logo a img{
  width: 100%;
}
header .titulo{
  display: inline-block;
}
header .subtutilo{
  display: inline-block;
}
header .menu{
  padding: 0;
  margin-top: 10px;
}
header .menu a{
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
}
header .menu a:hover{
  color: #e9ebee;
}
.principal .presentacion img{
  width: 100%;
}